{% extends 'base.html' %}
{% load static %}


{% block header-class %}
<header class="">
{% endblock %}


{% block content %}
    <section class="login-page">
        <h2>Załóż konto</h2>
        <form method="post" action={% url 'register' %}>
            {% csrf_token %}
            <div class="form-group">
                {{ form.first_name }}
            </div>
            <div class="form-group">
                {{ form.last_name }}
            </div>
            <div class="form-group">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <div class="form-group form-group--buttons">
                <a class="btn btn--without-border" href={% url 'login' %}>Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>
{% endblock %}